# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
.conda/

# RL specific
logs/
tensorboard/
#*.zip
# !ppo_cartpole_perfect.zip # Eğer son halini paylaşmak istersen ünlemle hariç tutabilirsin

# IDE
.vscode/
.idea/